.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFF;
  width: 1220px;
  margin: 0 auto;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  height: 40px;
  margin-right: 10px;
}
.navbar .logo h1 {
  color: #00A550;
  font-size: 24px;
  font-weight: bold;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
}
.navbar .nav-links a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar .nav-links a:hover {
  color: #00A550;
}
.navbar .nav-links a.active {
  color: #333;
  font-weight: bold;
  display: grid;
}
.navbar .nav-links a.active p {
  margin-bottom: -60px;
}
.navbar .icons {
  display: flex;
  align-items: center;
}
.navbar .icons .icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: filter 0.3s;
}
.navbar .icons .icon:hover {
  filter: brightness(0.8);
}
.navbar .icons .login-btn {
  background-color: #00A550;
  color: #FFF;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.navbar .icons .login-btn:hover {
  background-color: #007237;
}

.welcome {
  width: 1220px;
  margin: 0 auto;
}
.welcome h5 {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.welcome h1 {
  font-family: Cera Pro;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: #3D3D3D;
}
.welcome h1 span {
  font-family: Cera Pro;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: #00A550;
}
.welcome p {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #3D3D3D;
}
.welcome .btnt {
  background-color: #00A550;
  color: #FFF;
  padding: 5px 15px;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  transition: background-color 0.3s;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.welcome img {
  display: flex;
}

.o1 {
  display: flex;
  width: 518px;
  margin: 0 auto;
  position: relative;
  left: 350px;
  top: -400px;
}

.nuqta {
  width: 40px;
  margin: 0 auto;
  position: relative;
  top: -420px;
}

.one {
  display: flex;
  align-items: center;
  width: 1220px;
  margin: 0 auto;
  justify-content: end;
  position: relative;
  top: 0px;
}
.one a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}
.one a:hover {
  color: #00A550;
}
.one a.actives {
  color: #333;
  font-weight: bold;
  display: grid;
  position: relative;
  right: 500px;
}
.one a.actives p {
  margin-bottom: -60px;
  gap: 40px;
}

.sidebar {
  padding: 20px;
  background-color: #fff;
  margin: 1440px;
  margin: 0 auto;
}
.sidebar .category-section,
.sidebar .price-range,
.sidebar .size-section {
  margin: 0 auto;
  width: 1220px;
  margin-bottom: 30px;
}
.sidebar h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}
.sidebar .categories,
.sidebar .sizes {
  list-style: none;
  padding: 0;
}
.sidebar .categories li,
.sidebar .sizes li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  justify-content: space-between;
}
.sidebar .categories li a,
.sidebar .sizes li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.sidebar .categories li a:hover,
.sidebar .sizes li a:hover {
  color: #00A550;
}
.sidebar .categories li a.active,
.sidebar .sizes li a.active {
  color: #00A550;
  font-weight: bold;
}
.sidebar .categories li span,
.sidebar .sizes li span {
  font-weight: bold;
  position: relative;
  right: 1050px;
}
.sidebar .price-range .price-slider {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.sidebar .price-range .price-slider input {
  width: 100%;
  height: 5px;
  background: #0cff82;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.sidebar .price-range .price-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00A550;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.sidebar .price-range .price-slider input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00A550;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.sidebar .price-range .price-label {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
.sidebar .price-range .filter-button {
  display: block;
  width: 90px;
  padding: 8px 0;
  background-color: #00A550;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sidebar .price-range .filter-button:hover {
  background-color: #007237;
}
.sidebar .super {
  width: 370px;
  margin: 0 auto;
  justify-content: left;
  position: relative;
  left: -450px;
}
.sidebar .product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 1220px;
  margin: 0 auto;
  width: 840px;
  height: 1190px;
  position: relative;
  left: 170px;
  bottom: 1100px;
}
.sidebar .product-grid .product-item {
  background-color: #F5F5F5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.sidebar .product-grid .product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.sidebar .product-grid .product-item .product-image {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
.sidebar .product-grid .product-item .product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.sidebar .product-grid .product-item .product-image .product-actions {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: trans lateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.sidebar .product-grid .product-item .product-image .product-actions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: filter 0.3s;
}
.sidebar .product-grid .product-item .product-image .product-actions img:hover {
  filter: brightness(0.8);
}
.sidebar .product-grid .product-item .product-image:hover .product-actions {
  display: flex;
}
.sidebar .product-grid .product-item .product-image .discount-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00A550;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.sidebar .product-grid .product-item .product-details {
  padding: 15px;
  text-align: left;
}
.sidebar .product-grid .product-item .product-details h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.sidebar .product-grid .product-item .product-details .price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.sidebar .product-grid .product-item .product-details .price .old-price {
  text-decoration: line-through;
  color: #F00;
  margin-right: 10px;
  font-size: 14px;
}
.sidebar .product-grid .product-item .product-details .price .new-price {
  color: #00A550;
}
.sidebar .asam {
  position: relative;
  top: 145px;
  right: 40px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1205px;
  padding: 20px;
  position: relative;
  bottom: 900px;
  margin: 0 auto;
}
.card-container .card {
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 48%;
  padding: 20px;
}
.card-container .card .card-image {
  width: 40%;
  padding-right: 20px;
}
.card-container .card .card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-container .card .card-content {
  width: 60%;
  text-align: left;
}
.card-container .card .card-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.card-container .card .card-content p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}
.card-container .card .card-content .card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00A550;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.card-container .card .card-content .card-button:hover {
  background-color: #007237;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -700px;
}
.container p {
  text-align: center;
}

.blog-posts-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.blog-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.blog-posts .post {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1 1 calc(25% - 20px);
  margin-bottom: 32px;
  transition: background-color 0.3s ease;
}
.blog-posts .post:hover {
  background-color: #f8f8f8;
}
.blog-posts .post img {
  width: 100%;
  height: auto;
  display: block;
}
.blog-posts .post .post-meta {
  padding: 16px;
  font-size: 14px;
  color: #6BAF92;
  display: flex;
  justify-content: space-between;
}
.blog-posts .post .post-title {
  padding: 0 16px;
  font-size: 20px;
  color: #333;
  margin: 8px 0;
}
.blog-posts .post .post-excerpt {
  padding: 0 16px;
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
}
.blog-posts .post .read-more {
  padding: 0 16px 16px;
  font-size: 16px;
}
.blog-posts .post .read-more a {
  color: #6BAF92;
  text-decoration: none;
  transition: color 0.3s ease;
}
.blog-posts .post .read-more a:hover {
  color: #519679;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 1220px;
  margin: 0 auto;
}
.container1 .section1 {
  flex: 1;
  text-align: center;
  padding: 1rem;
  text-align: left;
}
.container1 .section1:not(:last-child) {
  margin-right: 1rem;
}
.container1 .section1 .icon {
  margin-bottom: 1rem;
}
.container1 .section1 .icon img {
  width: 50px;
  height: auto;
}
.container1 .section1 h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.container1 .section1 p {
  font-size: 1rem;
  color: #666;
}
.container1 .newsletter {
  flex: 1.5;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  text-align: left;
}
.container1 .newsletter h3 {
  font-family: Cera Pro;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.container1 .newsletter .input-group {
  display: flex;
  margin-bottom: 1rem;
}
.container1 .newsletter .input-group input[type=email] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
}
.container1 .newsletter .input-group input[type=email]::-moz-placeholder {
  color: #ccc;
}
.container1 .newsletter .input-group input[type=email]::placeholder {
  color: #ccc;
}
.container1 .newsletter .input-group button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
.container1 .newsletter .input-group button:hover {
  background-color: #45a049;
}
.container1 .newsletter p {
  font-size: 0.9rem;
  color: #666;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e8f5e9;
  align-items: center;
  gap: 40px;
  width: 1220px;
  margin: 0 auto;
}
.footer .footer-info {
  display: flex;
  align-items: center;
  position: relative;
  right: -40px;
}
.footer .footer-info img {
  margin-right: 1rem;
}
.footer .footer-info p {
  margin: 0;
  gap: 20px;
  color: #333;
  color: #3D3D3D;
}
.footer .footer-info h2 {
  color: #00A550;
}
.footer .contact-info {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  left: -200px;
}
.footer .contact-info .contact-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.footer .contact-info .contact-item img {
  margin-right: 0.5rem;
}
.footer .contact-info .contact-item p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.footer {
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
}
.footer__section {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.footer__section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer__section ul {
  list-style: none;
  padding: 0;
}
.footer__section ul li {
  margin-bottom: 5px;
}
.footer__section ul li a {
  text-decoration: none;
  color: #333;
}
.footer__section ul li a:hover {
  text-decoration: underline;
}
.footer .social-icons,
.footer .payment-icons {
  display: flex;
  gap: 20px;
}
.footer .social-icons li,
.footer .payment-icons li {
  display: inline-block;
}
.footer .social-icons li img,
.footer .payment-icons li img {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */